# Copy to secrets.yaml and fill in real values
# secrets.yaml is gitignored — never commit it

wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"

device_key: "you can generate a new key with openssl rand -hex 16 if needed"

mqtt_username: "smartvolt"
mqtt_password: "your-mqtt-password"
